<appSettings>
	<add key="TestDataSheetPath" value=""/>
	<add key="FireFoxBinaryPath" value=""/>
	<add key="ErrorFileName" value="FE_ErrorFile.txt"/>
	<add key="ErrorFileDir" value="C:\reports\errors\"/>
	<add key="LogFileName" value="FE_LogFile.txt"/>
	<add key="LogFileDir" value="C:\reports\logs\"/>
	<add key="DownloadPath" value="C:\reports\"/>
	<add key="Assert_Error_String" value="Assertion Error: "/>
</appSettings>
